<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.casadalagoa.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/bg_lagoa"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.casadalagoa.app.Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.casadalagoa.app.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="br.com.casadalagoa.app.Principal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.casadalagoa.app.Principal" />
        </activity>

        <!-- This service is only used on devices with API v17+ -->
        <service
            android:name="br.com.casadalagoa.app.MyDaydreamService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver android:name="br.com.casadalagoa.app.CasaWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/casa_widget_info" />
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

</manifest>
